.sectionThree {
    background-image: linear-gradient(0deg, rgb(76.471% 23.137% 32.941%) 0%, rgb(77.941% 27.01% 32.01%) 6.25%, rgb(79.412% 30.882% 31.078%) 12.5%, rgb(80.882% 34.755% 30.147%) 18.75%, rgb(82.353% 38.627% 29.216%) 25%, rgb(83.824% 42.5% 28.284%) 31.25%, rgb(85.294% 46.373% 27.353%) 37.5%, rgb(86.765% 50.245% 26.422%) 43.75%, rgb(88.235% 54.118% 25.49%) 50%, rgb(89.706% 57.99% 24.559%) 56.25%, rgb(91.176% 61.863% 23.627%) 62.5%, rgb(92.647% 65.735% 22.696%) 68.75%, rgb(94.118% 69.608% 21.765%) 75%, rgb(95.588% 73.48% 20.833%) 81.25%, rgb(97.059% 77.353% 19.902%) 87.5%, rgb(98.529% 81.225% 18.971%) 93.75%, rgb(100% 85.098% 18.039%) 100% );
    z-index: -1
}
.dropShadow {
    filter: drop-shadow(0 0 0.75rem rgb(95, 107, 27));
}
.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}