.sectionTwo {
    background-image: linear-gradient(0deg, rgb(100% 85.098% 18.039%) 0%, rgb(100% 85.102% 18.059%) 6.25%, rgb(99.999% 85.126% 18.199%) 12.5%, rgb(99.997% 85.194% 18.577%) 18.75%, rgb(99.994% 85.325% 19.314%) 25%, rgb(99.988% 85.541% 20.528%) 31.25%, rgb(99.979% 85.863% 22.341%) 37.5%, rgb(99.967% 86.313% 24.87%) 43.75%, rgb(99.951% 86.912% 28.235%) 50%, rgb(99.93% 87.68% 32.557%) 56.25%, rgb(99.904% 88.64% 37.953%) 62.5%, rgb(99.873% 89.813% 44.545%) 68.75%, rgb(99.835% 91.219% 52.451%) 75%, rgb(99.79% 92.881% 61.791%) 81.25%, rgb(99.737% 94.818% 72.684%) 87.5%, rgb(99.677% 97.054% 85.25%) 93.75%, rgb(99.608% 99.608% 99.608%) 100% );
    z-index: -1
}
.dropShadow {
    filter: drop-shadow(0 0 0.75rem rgb(95, 107, 27));
}
.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}